@keyframes move {
  to {
    background-color: red;
  }
}

.play-container {
  background-color: blue;
  height: 400px;
  width: 400px;
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
